<!DOCTYPE html>
<html lang="en">
<body>
    {% extends "base.html" %} 
    {% block content %}
    {% load static %}
    <main>
        <h1>JavaScript Conditionals</h1>
        <p>When creating functions in JS there are many times that we need to have the ability to turn on or off something.  Where we need to say if this is true please do this other wise do this.</p>
        <a href='#' download><img src="{% static 'images/ifStatement.PNG' %}" alt="If Statement" class='img'></a>
    </main>
    {%endblock%}
</body>
</html>