<!DOCTYPE html>
<html lang="en">
<body>
    {% extends "base.html" %} 
    {% block content %}
    {% load static %}
    <main>
        <h2>Welcome!</h2>
        <h3>Visual Programming Cheat Sheets for the everyday programmer</h3>
        <p>What I have created is simply a bunch of visual cheat sheets or explanations for the topics that are listed above.  At one time or another every Developer has come across or had problems understanding some concepts.  Sometimes reading all the material that is out there isn't enough you need something more visual that you can look at to really get or grasp what is going on or being used</p>
        <p>Here are a few quick examples.</p>
        <div class='main'>
            <img src="{% static 'images/codes01.jpg' %}" alt="HTML code" class='img'>
            <img src="{% static 'images/codes02.png' %}" alt="More HTML code" class='img'>
        </div>
    </main>
    {% endblock %}
</body>
</html>