<!DOCTYPE html>
<html lang="en">
<body>
    {% extends "base.html" %} 
    {% block content %}
    {% load static %}
    <main>
        <h1>JavaScript Loops</h1>
        <p>When creating functions in JS we often need to go through data.  Sometimes we only need parts of that data set or maybe we need it all or need to do something with it. To do this we use Loops.</p>
        <p>Understanding loops however isn't always as easy as some folks think.  Having been a technician while in the Navy I had to look at technical drawings all the time.   When a system wasn't getting the right signals I would need to trace back where the signal got lost.  Flow charts saved our lives.</p>
        <a href='#' download><img src="{% static 'images/forLoop.PNG' %}" alt="For Loops" class='img'></a>
    </main>
    {%endblock%}
</body>
</html>